@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --secondary-color: #dc9814;
  --background-grey: #eeefef;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

a {
  cursor: pointer;
}

/* Toastify animations */
.fade-in {
  animation: fade-in 0.2s ease-in both;
}

.fade-out {
  animation: fade-out 0.2s ease-out both;
}

@layer components {
  .text-light {
    @apply font-light text-gray-500 text-lg;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
